@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');


*{
    margin: 0;
    padding: 0;
    font-family: 'Montserrat', sans-serif;
    box-sizing: border-box;
}

body{
    background-image: url(./resources/images/back.png);
    background-size: cover;
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-position: center;
}

.Barra{
    position: relative;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}

header{
    position: relative;
    top: 0;
    width: 100%;
    padding: 30px 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: white;
}

header .logo{
    position: relative;
    color: #000;
    font-size: 2.5vw;
    text-decoration: none;
    text-transform: uppercase;
    font-weight: 800;
    letter-spacing: 1px;
    transition: 0.4s;
}

header .logo:hover{
    color: #900C3F;
}

header .nav a{
    color: #000;
    text-decoration: none;
    font-weight: 500;
    letter-spacing: 1px;
    font-size: 20px;
    padding: 2px 15px;
    border-radius: 20px;
    transition: 0.3s;
}

header .nav a:hover{
    color: #900C3F;
    text-decoration: underline;

}

header h2 a .imglogo{
    width: 50px;
    height: 50px;
    margin-right: 0.5vw;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1vw;
}

aside{
    float: left;
    width: 200px;
    background-color: white;
    padding: 30px;
    border-right: solid 1px;
    margin: 2vw;
}

.opciones{
    text-decoration: none;
    transition: 1s;
    letter-spacing: 2px;
    color: black;
}

.opciones:hover{
    color: #900C3F;
}

aside{
    background-color: transparent   ;
}

.widget{
    position: relative;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    font-size: 20px;
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: 2px;
    transition: 0.3s;
    margin-top: 50px;
}

.widget:hover{
    transform: scale(1.1);
}

.main{
    position: relative;
    width: calc(80% - 200px);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-top: 2vw;
}

label{
    display: none;
}

#check{
    z-index: 3;
    display: none;
}

@media (max-width: 960px){
    header .nav{
        display: none;
    }

    label{
        display: block;
        font-size: 25px;
        cursor: pointer;
        transition: 0.3s;
        transition-property: color;
    }

    label:hover{
        color: #3828c5;
    }

    label .close-btn{
        display: none;
    }

    #check:checked ~ header .nav{
        z-index: 2;
        display: fixed;
        background: rgba(82, 21, 39, 0.9);
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    #check:checked ~ header .nav a{
        font-weight: 700;
        margin-right: 0;
        margin-bottom: 50px;
        letter-spacing: 2px;
    }

    #check:checked ~ header label .menu-btn{
        display: none;
    }

    #check:checked ~ header label .close-btn{
        z-index: 2;
        display: block;
        position: fixed;
    }

    label .menu-btn{
        position: absolute;
    }

    header .logo{
        position: absolute;
        bottom: -6px;
    }

    .contenido .info h2{
        font-size: 45px;
        line-height: 50px;
    }

    .contenido .info p{
        font-size: 18px;
    }
}

@media (max-width: 560px){
    .contenido .info h2{
        font-size: 30px;
        line-height: 35px;
    }

    .contenido .info p{
        font-size: 18px;
    }
}